sudo: false
language: node_js
node_js:
- '0.10'
after_script:
- npm run-script coverage
- find . -name lcov.info -exec mv {} coverage/ \;
- tail -n +3 coverage/lcov.info > coverage/lcov.tail
- rm coverage/lcov.info
- echo "TN:"                  >> coverage/lcov.info
- echo "SF:`pwd`/codedown.js" >> coverage/lcov.info
- cat coverage/lcov.tail      >> coverage/lcov.info
- npm run-script coveralls
